<footer class=footer-main>
    <div class=container>
        <div class=row>
            <div class="col-12 text-center">
                <div class=block>
                    <ul class="list-inline mb-4">
                        <li class="list-inline-item mx-3"><a class=text-white href=about/index.html>About</a></li>
                        <li class="list-inline-item mx-3"><a class=text-white href=blog/index.html>Blog</a></li>
                        <li class="list-inline-item mx-3"><a class=text-white href=contact/index.html>Contact</a></li>
                        <li class="list-inline-item mx-3"><a class=text-white href=faq/index.html>FAQ</a></li>
                        <li class="list-inline-item mx-3"><a class=text-white href=privacy/index.html>Privacy</a></li>
                    </ul>
                    <a href=index.html><img src="{{ `images/logo-alt.png` | absURL }}" alt="Small Apps | App Landing Template"></a>
                    <ul class="social-icon list-inline">
                        <li class=list-inline-item><a href><i class=tf-ion-social-facebook></i></a></li>
                        <li class=list-inline-item><a href><i class=tf-ion-social-twitter></i></a></li>
                        <li class=list-inline-item><a href><i class=tf-ion-social-instagram></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{ `https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ` | absURL }}"></script>
<script src="{{ `plugins/jquery/jquery.js` | absURL }}"></script>
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | absURL }}"></script>
<script src="{{ `plugins/owl-carousel/owl.carousel.min.js` | absURL }}"></script>
<script src="{{ `plugins/aos/aos.js` | absURL }}"></script>
<script src="{{ `plugins/google-map/gmap.js` | absURL }}"></script>
<script src="{{ `js/script.js` | absURL }}"></script>