<section class="section testimonial">
    <div class=container>
        <div class=row>
            <div class=col-lg-12>
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class=item>
                        <div class="block shadow">
                            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                            <div class=image><img src=images/testimonial/feature-testimonial-thumb.jpg alt="Abraham Linkon , Themefisher.com"></div><cite>Abraham Linkon , Themefisher.com</cite></div>
                    </div>
                    <div class=item>
                        <div class="block shadow">
                            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                            <div class=image><img src=images/testimonial/feature-testimonial-thumb.jpg alt="Abraham Linkon , Themefisher.com"></div><cite>Abraham Linkon , Themefisher.com</cite></div>
                    </div>
                    <div class=item>
                        <div class="block shadow">
                            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                            <div class=image><img src=images/testimonial/feature-testimonial-thumb.jpg alt="Abraham Linkon , Themefisher.com"></div><cite>Abraham Linkon , Themefisher.com</cite></div>
                    </div>
                    <div class=item>
                        <div class="block shadow">
                            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                            <div class=image><img src=images/testimonial/feature-testimonial-thumb.jpg alt="Abraham Linkon , Themefisher.com"></div><cite>Abraham Linkon , Themefisher.com</cite></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>